@model IEnumerable<Customer>
<table class="table table-bordered" id="customerTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="customer_tr_@item.CustomerID">
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm rounded-circle edit" data-db-type="customer" data-db-action="edit" data-customer-id="@item.CustomerID" data-controller-action="EditCustomer"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger btn-sm rounded-circle del" data-db-type="customer" data-db-action="delete" data-customer-id="@item.CustomerID" data-controller-action="DeleteCustomer"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
